// orange color
$orange-50: #ffefe6;
$orange-100: #ffcfb0;
$orange-200: #ffb78a;
$orange-300: #ff9654;
$orange-400: #ff8233;
$orange-500: #ff6300;
$orange-600: #e85a00;
$orange-700: #b54600;
$orange-800: #8c3600;
$orange-900: #6b2a00;

// black color
$black-50: #e6e6e6;
$black-100: #b0b0b0;
$black-200: #8a8a8a;
$black-300: #545454;
$black-400: #333333;
$black-500: #000000;
$black-600: #1E1E1E;






