// font size
$text-12: 0.667rem; // 12px;
$text-14: 0.778rem; //14px;
$text-18: 1rem; // 18px;
$text-23: 1.278rem; // 23px;
$text-28: 1.556rem;// 28px;
$text-35: 1.944rem; // 35px;
$text-44: 2.444rem; // 44px;
$text-55: 3.056rem; // 55px;
$text-69: 3.833rem; // 69px;